.classpath
.project
.settings/
.vscode/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Gradle
.gradletasknamecache
.gradle/
build/
bin/
out/
.idea/
run/